@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-LightItalic.woff2") format("woff2"),
    url("./fonts/Rubik-LightItalic.woff") format("woff"),
    url("./fonts/Rubik-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Rubik Glitch";
  src: url("./fonts/RubikGlitch-Regular.woff2") format("woff2"),
    url("./fonts/RubikGlitch-Regular.woff") format("woff"),
    url("./fonts/RubikGlitch-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Light.woff2") format("woff2"),
    url("./fonts/Rubik-Light.woff") format("woff"),
    url("./fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background-color: #161616;
}

.container {
  margin-top: 0;
}

.container::before {
  content: "";
  background-image: url(./imgs/backgroundDj.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.4;
}

.footerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 2rem;
  margin-top: 2rem;
}

nav {
  text-align: end;
}

header h2 {
  margin-top: 3rem;
  font-size: 4rem;
  color: #e9e9e9;
  text-align: center;
  font-family: "Rubik Glitch";
  font-weight: normal;
}

header h1 {
  margin-top: 9.5rem;
  text-align: center;
  color: #66fcf1;
  font-family: "Rubik";
  font-size: 6rem;
  font-weight: 1000;
}

section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

section button {
  width: 20.2rem;
  height: 6.3rem;
  background-color: #161616;
  color: #e9e9e9e9;
  font-family: "Rubik";
  font-size: 2.4rem;
  cursor: pointer;
  border-color: #66fcf1;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  transition: 0.3s;
}

section button p {
  font-size: 1.3rem;
  color: hsl(0, 0%, 60%);
}

#firstSection button {
  margin-top: 9.5rem;
}

section button:hover {
  background-color: #66fcf1;
  color: #161616;
}
